<tfoot id="confirmation">
  <tr>
    <% if @lines.empty? -%>
      <td colspan="6">Cliques sur un prix pour commander</td>
    <% else -%>
      <td colspan="6"><%= link_to "Confirmer", "#", :class => "order_confirmation_link" %></td>
    <% end -%>
  </tr>
</tfoot>
