<div class="shop">
  <h1><%= shop.name %><span class="distance"><%= number_to_human shop.distance %> km</span></h1>
  <p>
    Commande minimum
    <%= number_to_currency(shop.minimum, :unit => "$") %>
  </p>
  <%= link_to "Voir le menu", shop, :class => "button" %>
</div>
