$green:  #91BE54;
$red:    #E35524;
$orange: #f0c541;
$beige:   #F3F7DB;
$brown:   #bf9316;
$yellow:  #E1F89B;
$subyellow:  #CCFF66;
$shadow:  #546E08;
$white:   #FFF;

$background-color: $beige;

$pending: lighten($orange, 5%);
$accepted: $green;
$refused: lighten($red, 5%);
