.addresses
  .selected
    background: $red
    color: white

  .address
    border-bottom: 1px solid darken($beige, 20%)
    padding: 7px
    line-height: 2rem
    cursor: pointer

    .phone_number, .note
      font-size: 85%

    .delete
      font-size: 80%
      float: right
