.field_with_errors input {
  border: 1px solid red !important;
}

#error_explanation {
  @include rounded();
  width: 100%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $orange;
}

#error_explanation h2 {
  display: none;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.8rem;
  margin: -7px;
  margin-bottom: 0px;
  color: #fff;
}

#error_explanation ul li {
  font-size: 1.6rem;
  list-style: none;
  color: #333;
}
