#flashes {
  width: 100%;
  text-align: center;
  p {
    font-size: 3rem;
    padding: 2rem;
    color: white;
    font-weight: bold;
    @include text-shadow();
    @include box-shadow(0px, 0px, 25px, transparentize($shadow, 0.7), true);
    margin: 20px auto;
  }
  p.notice {
    background: $green;
  }
  p.alert {
    background: $orange;
  }
}
