#banner {
  width: 100%;
  background: $green;
  height: 170px;
  margin-top: 50px;
  @include box-shadow(0px, 0px, 15px, transparentize($shadow, 0.5), true);
  div:first-child {
    width: 650px;
    height: 170px;
    margin: 0 auto;
    position: relative;
    #logo {
      margin: 21px auto;
    }
    #tag_line {
      float: right;
      font-size: 2rem;
      padding-top: 100px;
      padding-right: 15px;
      color: lighten($orange, 50%);
      text-shadow: $shadow 0px 0px 4px;
    }
    #google_map {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 250px;
      height: 150px;
      border: 2px solid $yellow;
      padding: 0px;
      display: none;
    }
  }
}

#find {
  width: 100%;
  margin-top: 10px;
  div:first-child {
    margin: 0 auto;
    width: 650px;
    text-align: center;
    input {
      @include text-field;
      font-size: 3rem;
      width: 600px;
    }
    .button {
      @include button($red);
    }
    #address {

    }
  }
}

#shops {
  display: none;
  width: 100%;
  div:first-child {
    width: 500px;
    margin: 0 auto;
  }
}

