#shop_banner {
  width: 100%;
  background: $green;
  height: 165px;
  div:first-child {
    width: 950px;
    margin: 0 auto;
    position: relative;
    #shop_address {
      h1 {
        color: $yellow;
        text-shadow: $shadow 0px 0px 4px;
        margin-bottom: 0px;
        padding-top: 70px;
      }
      h2 {
        color: $subyellow;
        font-size: 1.1rem;
      }
      p {
        font-size: 1.0rem;
        opacity: 0.7;
        em {
          font-weight: bold;
          font-style: normal;
        }
      }
    }
    #shop_map {
      position: absolute;
      right: 0px;
      top: 10px;
      height: 140px;
      width:  170px;
      background: $yellow * 0.8;
      border: 3px solid $yellow;
    }
  }
}

#menu {
  width: 100%;
  div:first-child {
    width: 950px;
    margin: 0 auto;
    position: relative;
    #order { 
      position: absolute;
      right: 0px;
      top: 50px;
      width: 320px;
      z-index: 1;
      table {
        border-collapse: collapse;
        tr { 
          height: 40px;
          border-bottom: 1px solid darken($beige, 20%);
        }
        td {
          width: 20%;
          text-align: center;
        }
        thead {
          background: $brown;
          color: $yellow;
          text-shadow: $shadow 0 0 5px;
          font-size: 2rem;
          th {
            padding: 10px;
          }
        }
        tbody {
          background: $beige;
        }
        tfoot {
          a.order_confirmation_link {
            @include button($green);
          }
        }
      }
    }
    #categories {
      z-index: 2;
      width: 600px;
      background: white;
      padding: 15px;
      @include box-shadow(0px, 0px, 15px, transparentize($shadow, 0.7));
      position: absolute;
      left: 0px;
      table {
        color: #666;
        margin-bottom: 30px;
        th,td {
          white-space:nowrap;
          min-width: 60px;
        }
        th:first-child, td:first-child {
          width: 250px;
          text-align: left;
        }
        th:first-child {
          padding-left: 10px;
        }
        th.spacer,td.spacer {
          width: 80%;
        }
        th.owner:last-child {
          text-align: right;
        }
        td:first-child{
          font-weight: bold;
          padding-left: 10px;
        }
        border-collapse: collapse;
        thead {
          background: $red;
          color: white;
          th {
            height: 30px;
            text-align: center;
          }
        }
        tbody {
          td {
            height: 30px;
            padding: 6px;
            text-align: center;
            border-bottom: 1px solid #ddd;
          }
        }
        .price_link {
          font-size: 1.3rem;
          padding: 0.5rem;
          text-decoration: none;
        }
        .price_link.selected {
          font-size: 10px;
          @include button(lighten($green, 20%), black);
        }
        .price_field {
          text-align: right;
        }
      }
    }
  }
}

