html {
  font-size: 62.5%;
}

body { 
  background-color: $background-color;
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 2.8rem;
}

body, p, ol, ul, td {
  font-family: Arial, sans-serif;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
a.home:hover { background-color: transparent; }

// development
.owner {
  text-decoration: none;
  display: none;
}
