@import "shop_banner";


body.shops.show {
  #shops {
    width: 100%;
    >div:first-child {
      width: 630px;
      margin: 0 auto;
      position: relative;
    }
    div.shop {
      width: 608px;
      border: 3px solid lighten($green, 30%);
      padding: 0px 10px 10px 10px;
      margin: 10px 0px;
      position: relative;
      @include rounded();
      @include gradient(lighten($white, 50%), darken($beige, 10%));
      h1 {  width: 500px; }
      h1 span.distance {
        margin-left: 10px;
        font-size: 15px;
        font-size: 1.5rem;
        color: #666;
      }
      a.button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 18px;
        font-size: 1.8rem;
        @include button($green);
      }
    }
  }


  #menu {
    width: 950px;
    margin: 0 auto;
    clear: both;
    #bag {
      position: absolute; 
      right: 10px;
      top: -29px;
      z-index: 2;
    }
    #order { 
      float: left;
      position: relative;
      top: 50px;
      width: 320px;
      z-index: -1;
      p {
        padding: 50px;
      }
      #confirmation {
        p {
          text-align: center;
          padding: 10px;
        }
        #confirm_link {
          font-size: 17px;
          font-size: 1.7rem;
          @include button($green);
          margin: 10px;
          float: right;
        }
      }
      table {
        background: lighten($beige, 4%);
        @include box-shadow(0px, 0px, 15px, transparentize($shadow, 0.7));
        border-collapse: collapse;
        width: 320px;
        thead {
          background: $brown;
          color: $yellow;
          text-shadow: $shadow 0 0 5px;
          font-size: 20px;
          font-size: 2rem;
          th {
            padding: 10px;
          }
        }
        tbody {
          // border-bottom: 1px solid darken($beige, 20%);
          tr {
            height: 2.5rem;
            td {
              color: darken($brown, 10%);
              &.price {
                text-align: right;
                padding-right: 11px;
              }
            }
            td.arrow a {
              font-size: 18px;
              text-decoration: none;
              color: $brown;
              margin-left: 10px;
              &.up {
                position: relative;
                top: 2px;
                &:active {
                  top: 3px;
                }
              }
              &.down {
                position: relative;
                top: -2px;
                &:active {
                  top: -3px;
                }
              }
              &:hover {
                background: none;
              }
            }
          }
        }
        tfoot#totals {
          tr {
            height: 2.5rem;
            td.subtotal {
              border-top: 1px solid darken($beige, 20%);
              font-weight: bold;
            }
          }
          .subtotal, .delivery, .tps, .tvq, .total {
            font-size: 14px;
            font-size: 1.4rem;
            font-weight: bold;
            color: darken($brown, 5%);
            text-align: right;
          }
          .subtotal, .delivery, .tps, .tvq, .total, .price {
            padding-right: 13px;
          }
          .total_line {
            border-top: 1px solid darken($beige, 20%);
          }
        }
      }
    }
    #categories {
      z-index: 5;
      width: 600px;
      background: white;
      padding: 15px;
      @include box-shadow(0px, 0px, 15px, transparentize($shadow, 0.7));
      float: left;
      margin-bottom: 50px;
      table {
        color: #666;
        margin-bottom: 30px;
        th,td {
          white-space:nowrap;
          min-width: 60px;
        }
        th:first-child, td:first-child {
          width: 250px;
          text-align: left;
        }
        th:first-child {
          padding-left: 10px;
        }
        th.spacer,td.spacer {
          width: 80%;
        }
        th.owner:last-child {
          text-align: right;
        }
        td:first-child{
          font-weight: bold;
          padding-left: 10px;
        }
        border-collapse: collapse;
        thead {
          background: $red;
          color: white;
          th {
            height: 30px;
            text-align: center;
          }
        }
        tbody {
          tr.description {
            border-bottom: 1px solid #ddd;
          }
          td {
            height: 30px;
            padding: 6px;
            text-align: center;
            padding-top: 15px;
          }
          td[colspan] {
            height: 10px;
            padding-top: 0px;
            padding-bottom: 15px;
            &.description {
              color: transparentize(#666, 0.5);
              font-size: 11px;
            }
          }
        }
        .price_link {
          font-size: 1.3rem;
          padding: 0.5rem;
          text-decoration: none;
        }
        .price_link:hover {
          color: black;
          background: white;
          font-weight: bold;
        }
        .price_link.selected {
          font-size: 10px;
        }
        .price_field {
          text-align: right;
        }
      }
    }
  }
}
