@import "colors";
@import "mixins";
@import "reset";
@import "errors";
@import "menu";

header {
  text-align: center;
  section {
    margin: 0 auto;
    width: 950px;
    text-align: left;
    #user_nav {
      float: right;
      padding-top: 4px;
      font-size: 11px;
    }
  }
}

