@import "colors";
@import "mixins";
@import "reset";
@import "errors";
@import "searches";
@import "shops";
@import "orders";
@import "flash";
@import "devise";

#user_nav {
  width: 100%;
  text-align: right;
  div {
    padding: 10px;
  }
}

#header {
  text-align: center;
  div:first-child {
    margin: 0 auto;
    width: 950px;
    text-align: left;
  }
}
