@import "colors";
@import "mixins";
@import "reset";
@import "errors";
@import "home";
@import "menu";
@import "shops";
@import "orders";
@import "flash";
@import "devise";

#user_nav {
  width: 100%;
  text-align: right;
  font-size: 11px;
  div {
    padding: 10px;
  }
}

#header {
  text-align: center;
  div:first-child {
    margin: 0 auto;
    width: 950px;
    text-align: left;
  }
}

body.potentials {
  color: darken($orange, 10%);
  #logo_line {
    width: 100%;
    margin-top: 20px;
    #logo {
      position: relative;
      left: -50px;
    }
  }
  text-align: center;
  width: 100%;
  #potential_container {
    background: $green;
    @include box-shadow(0, 0, 8px, transparentize(black, 0.3), true);
    position: relative;
    top: 20px;
    font-size: 1.8rem;
    padding-top: 20px;
    padding-bottom: 20px;
    ul {
      display: inline;
      li {
        display: inline;
        list-style: none;
        margin-left: 0;
      }
    }
    #what_it_does {
      font-family: 'Kreon', arial, serif;
      font-weight: bold;
      line-height: 2.8rem;
      font-size: 2.8rem;
      text-align: center;
      color: white;
    }
    #when_we_launch {
      font-family: 'Kreon', arial, serif;
      color: darken($green, 30%);
      line-height: 2rem;
      font-size: 2.1rem;
      text-align: center;
    }
    #potential_center {
      width: 387px;
      margin: 0 auto;
      text-align: left;
      form {
        padding-bottom: 30px;
        width: 387px;
        position: relative;
        div {
          padding-top: 10px;
        }
        div.phone {
          display: none;
        }
        input[type='text'] {
          width: 350px;
          @include text-field;
        }
        input[type='submit'] {
          width: 340px;
          margin: 10px;
          font-size: 1.6rem;
          @include button($red);
        }
      }
    }
  }
}
