h1 {
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
}

form {
  margin-bottom: 2em;
  display: inline;
}

#user_nav {
  text-align: right;
  width: 100%;
}

#categories h5 {
  font-size: 1.25em;
  width: 50em;
  background: #ddd;
  padding: 0.7em;
  margin-right: 3em;
}

th.category_title {
  text-align: left;
  min-width: 150px;
}

.edit_category, .edit_product {
  display:none;
}

td, th {
  text-align: center;
}

td:first-child, th:first-child {
  text-align: left;
}
td.owner:last-child, th.owner:last-child {
  text-align: right;
  width: 100px;
}

.owner {
  display: none;
  background: #ddd;
}

table {
  margin-top: 25px;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid black;
  background: #dfdfdf;
}

tr, th {
  height: 25px;
}

.delete {
  background: #000;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  margin: 6px;
  font-size: 8px;
  text-decoration: none;
}
