html {
  font-size: 62.5%; }

body {
  background-color: #f3f7db;
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px; }

h1 {
  font-size: 2.8rem; }

body, p, ol, ul, td {
  font-family: Arial, sans-serif; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

a.home:hover {
  background-color: transparent; }

.owner {
  text-decoration: none;
  display: none; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.8rem;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 1.6rem;
  list-style: square; }

#banner {
  width: 100%;
  background: #91be54;
  height: 170px;
  margin-top: 50px;
  -webkit-box-shadow: inset 0px 0px 15px rgba(84, 110, 8, 0.5);
  -moz-box-shadow: inset 0px 0px 15px rgba(84, 110, 8, 0.5);
  box-shadow: inset 0px 0px 15px rgba(84, 110, 8, 0.5); }
  #banner div:first-child {
    width: 650px;
    height: 170px;
    margin: 0 auto;
    position: relative; }
    #banner div:first-child #logo {
      margin: 21px auto; }
    #banner div:first-child #tag_line {
      float: right;
      font-size: 2rem;
      padding-top: 100px;
      padding-right: 15px;
      color: #faf4e2;
      text-shadow: #546e08 0px 0px 4px; }
    #banner div:first-child #google_map {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 250px;
      height: 150px;
      border: 2px solid #e1f89b;
      padding: 0px;
      display: none; }

#find {
  width: 100%;
  margin-top: 10px; }
  #find div:first-child {
    margin: 0 auto;
    width: 650px;
    text-align: center; }
    #find div:first-child input {
      display: inline-block;
      outline: none;
      text-decoration: none;
      font: 14px/100% Arial, Helvetica, sans-serif;
      padding: .5em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: .5em;
      -moz-border-radius: .5em;
      border-radius: .5em;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      font-size: 3rem;
      width: 600px; }
    #find div:first-child .button {
      display: inline-block;
      outline: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      padding: .5em 2em .55em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: .5em;
      -moz-border-radius: .5em;
      border-radius: .5em;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      color: white !important;
      font-weight: bold;
      border: solid 1px #983513;
      background: #e35524;
      background: -webkit-gradient(linear, left top, left bottom, from(#f64c11), to(#a53a15));
      background: -moz-linear-gradient(top, #f64c11, #a53a15);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f64c11', endColorstr='#a53a15'); }
      #find div:first-child .button:hover {
        text-decoration: none;
        background: #ef4f18;
        background: -webkit-gradient(linear, left top, left bottom, from(#e9521e), to(#d34a1b));
        background: -moz-linear-gradient(top, #e9521e, #d34a1b);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9521e', endColorstr='#d34a1b'); }
      #find div:first-child .button:active {
        position: relative;
        top: 1px;
        color: #f64c11;
        background: -webkit-gradient(linear, left top, left bottom, from(#f64c11), to(#ec8a68));
        background: -moz-linear-gradient(top, #f64c11, #ec8a68);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f64c11', endColorstr='#ec8a68'); }

#shops {
  width: 100%; }
  #shops div:first-child {
    width: 630px;
    margin: 0 auto; }

#shop_banner {
  width: 100%;
  background: #91be54;
  height: 165px; }
  #shop_banner div:first-child {
    width: 950px;
    margin: 0 auto;
    position: relative; }
    #shop_banner div:first-child #shop_address h1 {
      color: #e1f89b;
      text-shadow: #546e08 0px 0px 4px;
      margin-bottom: 0px;
      padding-top: 70px; }
    #shop_banner div:first-child #shop_address h2 {
      color: #ccff66;
      font-size: 1.1rem; }
    #shop_banner div:first-child #shop_address p {
      font-size: 1.0rem;
      opacity: 0.7; }
      #shop_banner div:first-child #shop_address p em {
        font-weight: bold;
        font-style: normal; }
    #shop_banner div:first-child #shop_map {
      position: absolute;
      right: 0px;
      top: 10px;
      height: 140px;
      width: 170px;
      background: #b4c67c;
      border: 3px solid #e1f89b; }

#menu {
  width: 100%; }
  #menu div:first-child {
    width: 950px;
    margin: 0 auto;
    position: relative; }
    #menu div:first-child #order {
      position: absolute;
      right: 0px;
      top: 50px;
      width: 320px;
      z-index: 1; }
      #menu div:first-child #order table {
        border-collapse: collapse; }
        #menu div:first-child #order table tr {
          height: 40px;
          border-bottom: 1px solid #d7e488; }
        #menu div:first-child #order table td {
          width: 20%;
          text-align: center; }
        #menu div:first-child #order table thead {
          background: #bf9316;
          color: #e1f89b;
          text-shadow: #546e08 0 0 5px;
          font-size: 2rem; }
          #menu div:first-child #order table thead th {
            padding: 10px; }
        #menu div:first-child #order table tbody {
          background: #f3f7db; }
        #menu div:first-child #order table tfoot a.order_confirmation_link {
          display: inline-block;
          outline: none;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          padding: .5em 2em .55em;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          -webkit-border-radius: .5em;
          -moz-border-radius: .5em;
          border-radius: .5em;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          color: white !important;
          font-weight: bold;
          border: solid 1px #618432;
          background: #91be54;
          background: -webkit-gradient(linear, left top, left bottom, from(#94d042), to(#698f36));
          background: -moz-linear-gradient(top, #94d042, #698f36);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94d042', endColorstr='#698f36'); }
          #menu div:first-child #order table tfoot a.order_confirmation_link:hover {
            text-decoration: none;
            background: #93ca48;
            background: -webkit-gradient(linear, left top, left bottom, from(#92c44e), to(#85b444));
            background: -moz-linear-gradient(top, #92c44e, #85b444);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c44e', endColorstr='#85b444'); }
          #menu div:first-child #order table tfoot a.order_confirmation_link:active {
            position: relative;
            top: 1px;
            color: #94d042;
            background: -webkit-gradient(linear, left top, left bottom, from(#94d042), to(#b5d38b));
            background: -moz-linear-gradient(top, #94d042, #b5d38b);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94d042', endColorstr='#b5d38b'); }
    #menu div:first-child #categories {
      z-index: 2;
      width: 600px;
      background: white;
      padding: 15px;
      -webkit-box-shadow: 0px 0px 15px rgba(84, 110, 8, 0.3);
      -moz-box-shadow: 0px 0px 15px rgba(84, 110, 8, 0.3);
      box-shadow: 0px 0px 15px rgba(84, 110, 8, 0.3);
      position: absolute;
      left: 0px; }
      #menu div:first-child #categories table {
        color: #666;
        margin-bottom: 30px;
        border-collapse: collapse; }
        #menu div:first-child #categories table th, #menu div:first-child #categories table td {
          white-space: nowrap;
          min-width: 60px; }
        #menu div:first-child #categories table th:first-child, #menu div:first-child #categories table td:first-child {
          width: 250px;
          text-align: left; }
        #menu div:first-child #categories table th:first-child {
          padding-left: 10px; }
        #menu div:first-child #categories table th.spacer, #menu div:first-child #categories table td.spacer {
          width: 80%; }
        #menu div:first-child #categories table th.owner:last-child {
          text-align: right; }
        #menu div:first-child #categories table td:first-child {
          font-weight: bold;
          padding-left: 10px; }
        #menu div:first-child #categories table thead {
          background: #e35524;
          color: white; }
          #menu div:first-child #categories table thead th {
            height: 30px;
            text-align: center; }
        #menu div:first-child #categories table tbody td {
          height: 30px;
          padding: 6px;
          text-align: center;
          border-bottom: 1px solid #ddd; }
        #menu div:first-child #categories table .price_link {
          font-size: 1.3rem;
          padding: 0.5rem;
          text-decoration: none; }
        #menu div:first-child #categories table .price_link.selected {
          font-size: 10px;
          display: inline-block;
          outline: none;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          padding: .5em 2em .55em;
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          -webkit-border-radius: .5em;
          -moz-border-radius: .5em;
          border-radius: .5em;
          -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          color: black !important;
          font-weight: bold;
          border: solid 1px #96c15b;
          background: #c1da9e;
          background: -webkit-gradient(linear, left top, left bottom, from(#c2e494), to(#9dc566));
          background: -moz-linear-gradient(top, #c2e494, #9dc566);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2e494', endColorstr='#9dc566'); }
          #menu div:first-child #categories table .price_link.selected:hover {
            text-decoration: none;
            background: #c2e197;
            background: -webkit-gradient(linear, left top, left bottom, from(#c1dd9b), to(#b5d38b));
            background: -moz-linear-gradient(top, #c1dd9b, #b5d38b);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1dd9b', endColorstr='#b5d38b'); }
          #menu div:first-child #categories table .price_link.selected:active {
            position: relative;
            top: 1px;
            color: #c2e494;
            background: -webkit-gradient(linear, left top, left bottom, from(#c2e494), to(#e4efd5));
            background: -moz-linear-gradient(top, #c2e494, #e4efd5);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2e494', endColorstr='#e4efd5'); }
        #menu div:first-child #categories table .price_field {
          text-align: right; }

#shops {
  width: 100%; }
  #shops > div:first-child {
    width: 630px;
    margin: 0 auto;
    position: relative; }
  #shops div.shop {
    width: 608px;
    border: 3px solid #d8e8c3;
    padding: 0px 10px 10px 10px;
    margin: 10px 0px;
    position: relative;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e5eeb1));
    background: -moz-linear-gradient(top, white, #e5eeb1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e5eeb1'); }
    #shops div.shop h1 {
      width: 500px; }
    #shops div.shop h1 span.distance {
      margin-left: 10px;
      font-size: 1rem; }
    #shops div.shop a.button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 1.8rem;
      display: inline-block;
      outline: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      padding: .5em 2em .55em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: .5em;
      -moz-border-radius: .5em;
      border-radius: .5em;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      color: white !important;
      font-weight: bold;
      border: solid 1px #618432;
      background: #91be54;
      background: -webkit-gradient(linear, left top, left bottom, from(#94d042), to(#698f36));
      background: -moz-linear-gradient(top, #94d042, #698f36);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94d042', endColorstr='#698f36'); }
      #shops div.shop a.button:hover {
        text-decoration: none;
        background: #93ca48;
        background: -webkit-gradient(linear, left top, left bottom, from(#92c44e), to(#85b444));
        background: -moz-linear-gradient(top, #92c44e, #85b444);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#92c44e', endColorstr='#85b444'); }
      #shops div.shop a.button:active {
        position: relative;
        top: 1px;
        color: #94d042;
        background: -webkit-gradient(linear, left top, left bottom, from(#94d042), to(#b5d38b));
        background: -moz-linear-gradient(top, #94d042, #b5d38b);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94d042', endColorstr='#b5d38b'); }

#user_nav {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0px; }
  #user_nav div {
    text-align: left;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px; }

header {
  text-align: center; }
  header div:first-child {
    margin: 0 auto;
    width: 950px;
    text-align: left; }
    header div:first-child #user_nav {
      float: right;
      padding-top: 4px;
      font-size: 11px; }
