html {
  font-size: 62.5%; }

body {
  background-color: #f3f7db;
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px; }

h1 {
  font-size: 2.8rem; }

body, p, ol, ul, td {
  font-family: Arial, sans-serif; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: #fff;
  background-color: #000; }

a.home:hover {
  background-color: transparent; }

.owner {
  text-decoration: none;
  display: none; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.8rem;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 1.6rem;
  list-style: square; }

#banner {
  width: 100%;
  background: #91be54;
  height: 170px;
  margin-top: 50px;
  -webkit-box-shadow: inset 0px 0px 15px rgba(84, 110, 8, 0.5);
  -moz-box-shadow: inset 0px 0px 15px rgba(84, 110, 8, 0.5);
  box-shadow: inset 0px 0px 15px rgba(84, 110, 8, 0.5); }
  #banner div {
    width: 250px;
    margin: 0 auto;
    position: relative;
    text-align: center; }
    #banner div #logo {
      margin: 21px auto; }

#find {
  width: 100%;
  margin-top: 40px; }
  #find div:first-child {
    margin: 0 auto;
    width: 600px; }
    #find div:first-child input {
      display: inline-block;
      outline: none;
      text-decoration: none;
      font: 14px/100% Arial, Helvetica, sans-serif;
      padding: .5em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: .5em;
      -moz-border-radius: .5em;
      border-radius: .5em;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      width: 500px; }
    #find div:first-child .button {
      display: inline-block;
      outline: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      font: 14px/100% Arial, Helvetica, sans-serif;
      padding: .5em 2em .55em;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: .5em;
      -moz-border-radius: .5em;
      border-radius: .5em;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      color: white !important;
      font-weight: bold;
      border: solid 1px #983513;
      background: #e35524;
      background: -webkit-gradient(linear, left top, left bottom, from(#f64c11), to(#a53a15));
      background: -moz-linear-gradient(top, #f64c11, #a53a15);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f64c11', endColorstr='#a53a15'); }
      #find div:first-child .button:hover {
        text-decoration: none;
        background: #ef4f18;
        background: -webkit-gradient(linear, left top, left bottom, from(#e9521e), to(#d34a1b));
        background: -moz-linear-gradient(top, #e9521e, #d34a1b);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9521e', endColorstr='#d34a1b'); }
      #find div:first-child .button:active {
        position: relative;
        top: 1px;
        color: #f64c11;
        background: -webkit-gradient(linear, left top, left bottom, from(#f64c11), to(#ec8a68));
        background: -moz-linear-gradient(top, #f64c11, #ec8a68);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f64c11', endColorstr='#ec8a68'); }

#shops {
  display: none;
  width: 100%; }
  #shops div:first-child {
    width: 500px;
    margin: 0 auto; }

#shop_banner {
  width: 100%;
  background: #91be54;
  height: 165px; }
  #shop_banner div:first-child {
    width: 950px;
    margin: 0 auto;
    position: relative; }
    #shop_banner div:first-child #shop_address h1 {
      color: #e1f89b;
      text-shadow: #546e08 0px 0px 4px;
      margin-bottom: 0px;
      padding-top: 70px; }
    #shop_banner div:first-child #shop_address h2 {
      color: #ccff66;
      font-size: 1.1rem; }
    #shop_banner div:first-child #shop_address p {
      font-size: 1.0rem;
      opacity: 0.7; }
      #shop_banner div:first-child #shop_address p em {
        font-weight: bold;
        font-style: normal; }
    #shop_banner div:first-child #shop_map {
      position: absolute;
      right: 0px;
      top: 10px;
      height: 140px;
      width: 170px;
      background: #b4c67c;
      border: 3px solid #e1f89b; }

#menu {
  width: 100%; }
  #menu div:first-child {
    width: 950px;
    margin: 0 auto;
    position: relative; }
    #menu div:first-child #order {
      position: absolute;
      right: 0px;
      top: 50px;
      width: 320px;
      background: #bf9316; }
      #menu div:first-child #order table thead {
        color: #e1f89b;
        text-shadow: #546e08 0 0 5px;
        font-size: 2rem; }
        #menu div:first-child #order table thead th {
          padding: 10px; }
    #menu div:first-child #categories {
      width: 600px;
      background: white;
      padding: 15px;
      -webkit-box-shadow: 0px 0px 15px rgba(84, 110, 8, 0.3);
      -moz-box-shadow: 0px 0px 15px rgba(84, 110, 8, 0.3);
      box-shadow: 0px 0px 15px rgba(84, 110, 8, 0.3); }
      #menu div:first-child #categories table {
        margin-bottom: 30px;
        border-collapse: collapse; }
        #menu div:first-child #categories table th, #menu div:first-child #categories table td {
          white-space: nowrap;
          min-width: 60px; }
        #menu div:first-child #categories table th:first-child, #menu div:first-child #categories table td:first-child {
          width: 250px;
          text-align: left; }
        #menu div:first-child #categories table th:first-child {
          padding-left: 6px; }
        #menu div:first-child #categories table th.spacer, #menu div:first-child #categories table td.spacer {
          width: 80%; }
        #menu div:first-child #categories table th:last-child {
          text-align: right; }
        #menu div:first-child #categories table thead {
          background: #e35524;
          color: white; }
          #menu div:first-child #categories table thead th {
            height: 30px;
            text-align: center; }
        #menu div:first-child #categories table tbody td {
          padding: 6px;
          text-align: center;
          border-bottom: 1px solid #ddd; }

#user_nav {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0px; }
  #user_nav div {
    text-align: left;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px; }

header {
  text-align: center; }
  header div:first-child {
    margin: 0 auto;
    width: 950px;
    text-align: left; }
    header div:first-child #user_nav {
      float: right;
      padding-top: 4px;
      font-size: 11px; }
