.addresses
  - addresses.each do |address|
    - next if address.id.nil?
    = render address

  - if addresses.blank?
    #new_delivery_address.address{"delivery_address_id"=>"new"}
      = render "delivery_addresses/form"
  - else
    #new_delivery_address_link Ajouter une adresse
    #new_delivery_address.address{"delivery_address_id"=>"new", :style => "display:none"}
      = render "delivery_addresses/form"
