<% @page_title = "BingBong.ca" %>

<%= render :partial => 'shared/user_nav' %>

<div id="banner">
  <div>
    <%= image_tag "logo.png", :width => 282, :height => 127, :alt => "Commander en ligne avec BingBong.ca", :id => "logo" %>
  </div>
</div>

<div id="find">
  <div>
    <p id="instructions">Trouver des restaurants qui livrent proche de chez vous.</p>
    <%= text_field_tag "search", "", :placeholder => "12 rue des Affamés, St-Hubert, QC" %>
  </div>
</div>

<div id="shops" class="owner">
  <div>
    <h4>Les restaurants qui livrent proche de chez vous.</h4>
    <ul>
      <% @shops.each do |shop| -%>
        <%= link_to shop.name, shop %>
      <% end -%>
    </ul>
  </div>
</div>
