<% @page_title = "BingBong.ca" %>

<%= render :partial => 'shared/user_nav' %>

<div id="banner">
  <div>
    <%= image_tag "logo.png", :width => 282, :height => 127, :alt => "Commander en ligne avec BingBong.ca", :id => "logo" %>
    <div id="tag_line">La meilleure bouffe à faire livrer!</div>
    <img id="google_map" alt="your location" src="" />
  </div>
</div>

<div id="find">
  <div>
    <span id="address">
      <%= text_field_tag "search", "", :placeholder => "12 rue des Affamés, St-Hubert, QC" %>
    </span>
    <span id="instructions">
      <p>Tapez votre adresse pour trouver des restaurants proches de vous.</p>
      <p class="example">Example: 12 rue des Affamés, St-Hubert, QC</p>
    </span>
  </div>
</div>

<div id="shops" class="owner">
  <div>
    <h4>Les restaurants qui livrent proche de chez vous.</h4>
    <ul>
      <% @shops.each do |shop| -%>
        <%= link_to shop.name, shop %>
      <% end -%>
    </ul>
  </div>
</div>
