<% @page_title = ["BingBong.ca", params[:address]].join(" :: ") %>

<div id="logo_line">
  <div>
    <%= image_tag "logo.png", :width => 282, :height => 127, :alt => "Commander en ligne avec BingBong.ca", :id => "logo" %>
  </div>
</div>

<div id="potential_container">
  <div id="potential_center">
    <h2>Merci</h2>
    <p>Nous vous contacterons dès que possible.</p>
  </div>
</div>
