<% @page_title = "GrandMenu.com" %>

<div id="logo_line">
  <div>
    <%= image_tag "logo_home_page.png", :width => 329, :height => 145, :alt => "Commander en ligne avec GrandMenu.com", :id => "logo" %>
  </div>
</div>

<div id="potential_container">
  <div id="potential_center">
    <p id="what_it_does">Merci!</p>
    <p id="when_we_launch">Nous vous contacterons dès que possible.</p>
  </div>
</div>
