<div id="banner">
  <div>
    <%= image_tag "logo_home_page.png", :width => 282, :height => 127, :alt => "Commander en ligne avec GrandMenu.com", :id => "logo" %>
    <div id="tag_line">Trouvez les restaurants qui <br/>livrent proche de chez vous!</div>
  </div>
</div>
