<%= form_for(Search.new) do |f| %>
  <div class="field">
    <%= f.text_field :location, :value => @search ? @search.location : nil, :placeholder => "12 rue des affamés, Ville-Famine, QC" %>
  </div>
<% end %>
