<%= form_for(Search.new, :method => :post) do |f| %>
  <div class="field">
    <%= text_field_tag :location, @search.location, :placeholder => "12 rue des affamés, Ville-Famine, QC" %>
  </div>
<% end %>
