<% @page_title = ["GrandMenu.com", params[:address]].join(" :: ") %>

<div id="banner">
  <div>
    <%= image_tag "logo.png", :width => 282, :height => 127, :alt => "Commander en ligne avec GrandMenu.com", :id => "logo" %>
    <div id="tag_line">La meilleure bouffe à faire livrer!</div>
    <img id="google_map" alt="your location" src="" />
  </div>
</div>

<div id="find">
  <div>
    <span id="address">
      <%= render :partial => 'searches/form' %>
    </span>
    <span id="instructions">
      <% if user_signed_in? -%>
        <%= render @searches %>
      <% else -%>
        <p>Tapez votre adresse pour trouver des restaurants proche de vous.</p>
        <p class="example">Example: 12 rue des Affamés, St-Hubert, QC</p>
      <% end -%>
    </span>
  </div>
</div>
