<% @page_title = ["GrandMenu.com", params[:address]].join(" :: ") %>

<div id="banner">
  <div>
    <%= image_tag "logo_home_page.png", :width => 282, :height => 127, :alt => "Commander en ligne avec GrandMenu.com", :id => "logo" %>
    <div id="tag_line">La meilleure bouffe à faire livrer!</div>
    <img id="google_map" alt="your location" src="" />
  </div>
</div>

<div id="find">
  <div>
    <span id="address">
      <%= form_for(Search.new) do |f| %>
        <div class="field">
          <%= text_field_tag :location, @search.location, :placeholder => "12 rue des affamés, Ville-Famine, QC" %>
        </div>
      <% end %>
    </span>
  </div>
</div>

<div id="shops">
  <div>
    <%= render @search.shops %>
  </div>
</div>
