<% @page_title = ["BingBong.ca", params[:address]].join(" :: ") %>

<%= render :partial => 'shared/user_nav' %>

<div id="banner">
  <div>
    <%= image_tag "logo.png", :width => 282, :height => 127, :alt => "Commander en ligne avec BingBong.ca", :id => "logo" %>
    <div id="tag_line">La meilleure bouffe à faire livrer!</div>
    <img id="google_map" alt="your location" src="" />
  </div>
</div>

<div id="find">
  <div>
    <span id="address">
      <%= render :partial => 'form' %>
    </span>
  </div>
</div>

<%= render @search.shops %>
