<% @page_title = ["GrandMenu", @search.location].compact.join(" :: ") %>

<%= render :partial => "banner" %>

<div id="find">
  <div id="address">
      <%= form_for(Search.new) do |f| %>
        <div class="field">
          <%= text_field_tag :location, @search.location, :placeholder => "12 rue des affamés, Ville-Famine, QC" %>
        </div>
      <% end %>
  </div>
</div>

<div id="shops">
  <div>
    <%= render @search.shops %>
  </div>
</div>
