<% @page_title = ["GrandMenu", @search.location].compact.join(" :: ") %>

<%= render :partial => "banner" %>

<div id="find">
  <div id="address">
    <%= render :partial => 'searches/form' %>
  </div>
</div>

<div id="shops">
  <div>
    <% if @search.shops.blank? then %>
      <p>Désolé, nous n'avons aucun restaurants à proximité de votre adresse.</p>
      <p>Avez-vous tenté avec votre nom de ville ou votre code postal?</p>
    <% else %>
      <%= render @search.shops %>
    <% end %>
  </div>
</div>
