<tr>
  <td>
    <%= best_in_place item, :name, :path => category_item_path(item.category, item) %>
  </td>
  <%# <% item.prices.each do |size| %>
  <%#   <th>
  <%#     <%= size.name %>
  <%#   </th>
  <%# <% end %>
</tr>
