<p>Bienvenue <%= @resource.email %>!</p>

<p>Vous pouvez confirmer votre email avec le lien suivant:</p>

<p><%= link_to 'Confirmer mon email', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
